*

#-------------------------------------------------------------------------------
# Git

!.gitignore
!.gitconfig

#-------------------------------------------------------------------------------
# General Stuff

!.config/

!.xsession
!.Xmodmap
!.imwheelrc

!scripts/
!scripts/*

!README.md

#-------------------------------------------------------------------------------
# Vim

!.config/nvim/
!.config/nvim/*
!.config/nvim/vscode-init.vim
.config/nvim/*

#-------------------------------------------------------------------------------
# i3 + Polybar

!.config/i3/
!.config/i3/*
!.config/i3/**

#-------------------------------------------------------------------------------
# Others

!.config/mpv/
!.config/mpv/*

#-------------------------------------------------------------------------------
