*

#-------------------------------------------------------------------------------
# Git

!.gitignore
!.gitconfig

#-------------------------------------------------------------------------------
# General Stuff

!.config/

!.xsession
!.Xmodmap
!.imwheelrc
!.zshrc

!scripts/
!scripts/*

!notes/
!notes/*

!README.md

#-------------------------------------------------------------------------------
# Kitty

!.config/kitty/
!.config/kitty/kitty.conf

#-------------------------------------------------------------------------------
# Vim

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/coc-utils.json
!.config/nvim/coc-settings.json
!.config/nvim/vscode-init.vim

#-------------------------------------------------------------------------------
# VS Code

!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

#-------------------------------------------------------------------------------
# i3 + Polybar

!.config/i3/
!.config/i3/config
!.config/i3/polybar/
!.config/i3/polybar/modules

#-------------------------------------------------------------------------------
# Others

!.config/mpv/
!.config/mpv/*

#-------------------------------------------------------------------------------
