*

#-------------------------------------------------------------------------------
# Git

!.gitattributes
!.gitignore
!.gitconfig

#-------------------------------------------------------------------------------
# General Stuff

!.config/

#-------------------------------------------------------------------------------
# Vim

!.config/nvim/
!.config/nvim/vscode-init.vim
